// @mixin fit-screen {
//     max-width: 1130px;
//     padding: 10px;
//     margin: auto;
// }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
}

body {
    background-color: #f1f1f1;
}

span,
h1,
p {
    cursor: default;
}

.width {
    max-width: 1130px;
    padding: 10px;
    margin: auto;
}
