@import "globalStyles", "header", "footer";

body {
    height: 100vh;

    main {
        .contact-form {
            margin-top: 20px;
            margin-bottom: 20px;

            .form {
                width: 450px;
                margin: auto;
                padding: 20px;
                display: flex;
                flex-direction: column;
                background: #FFFFFF;
                border: 1px solid #B3ACAC;
                box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
                border-radius: 14px;

                @media(max-width:500px) {
                    width: 100%;
                }

                h1 {
                    margin-bottom: 10px;
                    text-align: center;
                    color: #5D5D5D;
                    font-weight: 300;
                    font-size: 1.2rem;
                }

                &>div {
                    margin-bottom: 10px;
                }

                .line {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    @media(max-width:500px) {
                        flex-direction: column;
                    }

                    &>div {
                        width: 100%;
                    }

                    div+div {
                        margin-left: 15px;

                        @media(max-width:500px) {
                            margin-left: 0px;
                            margin-top: 10px;
                        }
                    }
                }

                label {
                    display: block;
                    color: #5D5D5D;
                    margin-bottom: 5px;
                }

                input {
                    height: 40px;
                }

                textarea {
                    resize: none;
                }

                input,
                textarea {
                    outline: none;
                    padding: 10px;
                    width: 100%;
                    background: #FFFFFF;
                    border: 1px solid #B3ACAC;
                    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
                    border-radius: 6px;
                    
                    &:focus {
                        border-color: hsla(34, 100%, 50%, 0.438);
                    }
                }

                button {
                    color: hsl(34, 100%, 50%);
                    border: 1px solid hsl(34, 100%, 50%);
                    border-radius: 25px;
                    background-color: transparent;
                    width: 100px;
                    height: 30px;
                    margin: auto;
                }
            }
        }
    }
}