@use "abstracts" as *;
@use "components/header";
@use "components/footer";
@use "components/square";

.square._1 {
    top: 800px;
    right: 0px;
    transform: translateX(50%) rotate(45deg);
}

.square._2 {
    top: 1500px;
    left: 0px;
    transform: translateX(-50%) rotate(45deg);
}

.square._3 {
    top: 2150px;
    right: 0px;
    transform: translateX(50%) rotate(45deg);
}

body .body-content {
    background-image: url("../assets/img/bg.svg");
    background-repeat: no-repeat;
    background-size: contain;

    @media (max-width: 700px) {
        background-size: cover;
        background-position-y: -895px;
    }
}

main {
    .title {
        width: 100%;
        font-size: 1.5rem;
        font-weight: 700;
        color: $title-color;
        margin-bottom: 20px;
    }

    .paragraph {
        font-weight: 300;
        margin-bottom: 37px;
        text-align: justify;
    }

    .button {
        display: inline-block;
        margin: 4px 2px;
        padding: 5px 25px;
        font-size: 1rem;
        font-weight: 700;
        text-decoration: none;
        border-radius: 26.5px;
        color: $secondary-color;
        border: 1px solid $secondary-color;

        &:hover {
            color: $secondary-color-dark;
            border-color: $secondary-color-dark;
        }

        &.secundary {
            color: $text-color-default;

            &.orange {
                border: 1px solid $secondary-color;
                background-color: $secondary-color;
            }

            &.blue {
                border: 1px solid $primary-color;
                background-color: $primary-color;
            }
        }
    }
}

.home {
    margin-top: -50px;
    padding-top: 50px;
}

.introduction {
    @include content-area;
    @include display-flex;
    margin-bottom: 50px;
    flex-direction: row;

    @media (max-width: 500px) {
        flex-direction: column;
    }

    .message {
        margin-left: 20px;

        .phrase {
            display: block;
            color: $text-color-default;
            font-size: 2rem;
            font-style: italic;

            @media (max-width: 1000px) {
                font-size: 1.5rem;
            }
        }

        .author {
            color: $text-color-default;
            font-size: 1.2rem;
            font-weight: 300;

            @media (max-width: 1000px) {
                font-size: 0.8rem;
            }
        }
    }

    .foguete {
        margin-top: 70px;
        max-width: 300px;
        max-height: 300px;

        @media (max-width: 1000px) {
            width: 150px;
            height: 150px;
        }
    }
}

section.bio,
section.themes,
section.testimonials {
    margin-top:250px; 
    margin-bottom:250px; 
}

.bio {
    @include content-area;
    @include display-flex;
    flex-direction: row;
    justify-content: space-between;

    @media (max-width: 500px) {
        flex-direction: column-reverse;
    }

    .texts {
        @include display-flex;
        flex-direction: column;
        justify-content: space-between;
        width: 70%;

        @media (max-width: 500px) {
            width: 100%;
        }
    }

    img {
        display: inline-block;
        max-width: 250px;
        min-width: 100px;
        margin-left: 10px;
        border-radius: 125px;

        @media (max-width: 500px) {
            margin: 10px;
        }
    }
}

.themes {
    @include content-area;
    @include display-flex;
    justify-content: space-around;

    @media (max-width: 600px) {
        flex-direction: column;
    }

    .computer {
        width: 200px;

        @media (max-width: 500px) {
            margin: 10px;
        }
    }

    article {
        width: 360px;
        height: 200px;
        margin-left: 10px;

        @media (max-width: 600px) {
            width: 100%;
            height: fit-content;
            margin: 10px;
        }

        .first-line {
            margin-left: 20px;

            @media (max-width: 500px) {
                margin-left: 0;
            }
        }

        .third-line {
            margin-left: 15px;

            @media (max-width: 500px) {
                margin-left: 0;
            }
        }
    }
}

.testimonials {
    @include content-area;
    margin-bottom: 10px;

    .cards {
        @include display-flex;
        justify-content: space-between;
        flex-wrap: nowrap;

        @media (max-width: 1000px) {
            justify-content: space-around;
            flex-wrap: wrap;
        }

        .card {
            position: relative;
            width: 360px;
            min-height: 200;
            max-height: 300px;
            margin: 10px;
            margin-top: 50px;
            padding: 20px;
            background: $background-color-default;
            box-shadow: 5px 7px 15px rgba(0, 0, 0, 0.1);
            border-radius: 10px;

            .avatar {
                position: absolute;
                top: -30px;
                width: 60px;
                height: 60px;
                border: 2px solid $background-primary-color;
                border-radius: 33px;
                overflow: hidden;
            }

            .rate {
                text-align: end;
            }

            .testimonial {
                margin: 5px 0;
                overflow: hidden;
            }

            .author {
                margin: 10px 0;
                text-align: end;

                span {
                    border-top: 1px solid grey;
                    width: fit-content;
                }
            }
        }
    }
}
