@use '../abstracts' as *;

.square {
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: rgba(255, 157, 39, 0.5);
   
    .inner {
        position: relative;
        width: 80%;
        height: 80%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: hsl(34, 100%, 50%);
    }
}
