//Texts
$text-color-default: hsl(0, 0%, 100%); 
$title-color: hsl(195, 61%, 52%);
$title-color-form: 	hsl(0, 0%, 36%);

// Buttons
$primary-color: hsl(195, 61%, 52%);
$primary-color-dark: hsl(195, 61%, 30%);
$secondary-color: hsl(34, 100%, 50%);
$secondary-color-dark: hsl(34, 100%, 30%);

//Borders and Backgrounds
$border-color: hsl(0, 4%, 69%); 
$border-color-default: hsl(0, 0%, 100%); 
$background-primary-color: hsl(0, 0%, 95%);
$background-color-default: hsl(0, 0%, 100%); 
$background-color-header: 	hsl(194, 53%, 65%);